<article class="chooseWeapon empty">
    <h3>Choisissez une arme</h3>
    <figure class="weapon">
        <img class="weaponImg" src="../assets/img/weapons/hunter_axe.jpg">
        <figcaption>hunter_axe</figcaption>
    </figure>
    <figure class="weapon">
        <img class="weaponImg" src="../assets/img/weapons/saw_cleaver.jpg">
        <figcaption>saw_cleaver</figcaption>
    </figure>
    <figure class="weapon">
        <img class="weaponImg" src="../assets/img/weapons/threaded_cane.jpg">
        <figcaption>threaded_cane</figcaption>
    </figure>
</article>