<article class="chooseWeapon" *ngIf="start">
    <h3>Choisissez une arme</h3>
    <figure class="weapon" (click)="selectWeapon(1)">
        <img class="weaponImg" src="../assets/img/weapons/hunter_axe.jpg">
        <figcaption>Hache du chasseur</figcaption>
    </figure>
    <figure class="weapon" (click)="selectWeapon(3)">
        <img class="weaponImg" src="../assets/img/weapons/saw_cleaver.jpg">
        <figcaption>Couperet-scie</figcaption>
    </figure>
    <figure class="weapon" (click)="selectWeapon(2)">
        <img class="weaponImg" src="../assets/img/weapons/threaded_cane.jpg">
        <figcaption>Canne-fouet</figcaption>
    </figure>
</article>