<div>
    <form class="empty">
        <label for="adress">Adresse Mail</label>
        <input type="email" name="adress" data-mail="user.mail">
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" data-pass="user.password">
        <p id="error"></p>
        <button type="button" class="connect">Connexion</button>
        <span>S'inscrire</span>
    </form>
    <form class='empty'>
        <label for="adress">Adresse Mail</label>
        <input type="email" name="adress" data-mail="user.mail">
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" data-pass="user.password">
        <p id="error"></p>
        <button type="button" class="signIn">Inscription</button>
        <span>Se connecter</span>
    </form>
</div>