<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Bloodbornelsh</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Estonia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./app.component.css" type="text/css" />
    <link rel="icon" type="image/png" href="assets/img/bloodIcon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <app-stats></app-stats>
        <app-main></app-main>
        <app-options></app-options>
        <app-weapons></app-weapons>
    </section>
    <section>
        <app-shop></app-shop>
        <app-fight></app-fight>
        <app-start></app-start>
    </section>
    <!--<button id="buttonId">BDD</button>
    <head>
        <h1>Bloodbornelsh</h1>
        <button class="reset">Reset</button>
        <nav>
            <ul>
                <li><a href="#">Lien</a></li>
                <li><a href="#">Lien</a></li>
                <li><a href="#">Lien</a></li>
            </ul>
        </nav>
    </head>
    <main>
        <section class="main">
        </section>
    </main>
    <footer>
    </footer>-->
</body>
<script type="text/javascript" src="./app.component.js"></script>

</html>