<article>
    <div class="shop">
        <span class="pognon">
            <figure>
                <img class="icon" src="../assets/img/Echo.png">
                <figcaption class="echos">Echos {{this.profile.echos}}</figcaption>
            </figure>
        </span>
        <figure>
            <img src="../assets/img/PNJ/eileen.png" alt="Eileen">
            <figcaption class="monster"></figcaption>
        </figure>
        <div class="articles">
            <figure class="article">
                <img class="icon" src="../assets/img/Heal.png">
                <figcaption class="heal">Fioles</figcaption>
                <button class="buy first">Acheter</button>
            </figure>
            <figure class="article">
                <img class="icon" src="../assets/img/Ammo.png">
                <figcaption class="bullets">Balles</figcaption>
                <button class="buy second">Acheter</button>
            </figure>
            <figure class="article" *ngFor="let weapon of weapons">
                <img class="weapon" src="../assets/img/weapons/{{weapon.imgSrc}}.jpg"/>
                <figcaption>{{weapon.name}}</figcaption>
                <button (click)="addWeapon(weapon)">Acheter</button>
            </figure>
            <button (click)="hideShop()" class="exit">Continuer votre route</button>
        </div>
    </div>
</article>