<article>
    <div class="shop empty">
        <span class="pognon">
            <figure>
                <img class="icon" src="../assets/img/Echo.png">
                <figcaption class="echos">Echos</figcaption>
            </figure>
        </span>
        <figure>
            <img src="../assets/img/PNJ/eileen.png" alt="Eileen">
            <figcaption class="monster"></figcaption>
        </figure>
        <div class="articles">
            <figure class="article">
                <img class="icon" src="../assets/img/Heal.png">
                <figcaption class="heal">Fioles</figcaption>
                <button class="buy first">Acheter</button>
            </figure>
            <figure class="article">
                <img class="icon" src="../assets/img/Ammo.png">
                <figcaption class="bullets">Balles</figcaption>
                <button class="buy second">Acheter</button>
            </figure>
            <figure class="article">
                <img class="icon" src="../assets/img/weapons/hunter_axe.jpg">
                <figcaption class="weapon">hunter_axe</figcaption>
                <button class="buy third">Acheter</button>
            </figure>
            <figure class="article">
                <img class="icon" src="../assets/img/weapons/saw_cleaver.jpg">
                <figcaption class="weapon">saw_cleaver</figcaption>
                <button class="buy fourth">Acheter</button>
            </figure>
            <figure class="article">
                <img class="icon" src="../assets/img/weapons/tonitrus.jpg">
                <figcaption class="weapon">tonitrus</figcaption>
                <button class="buy fifth">Acheter</button>
            </figure>
            <button class="exit">Continuer votre route</button>
        </div>
    </div>
</article>