/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar{
    margin:0;
    height:16px;
    width:16px;
    background:#d4d4d4
}
::-webkit-scrollbar-thumb{
    background:#433544;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.75)
}
::-webkit-scrollbar-corner{
    background:#000
}
body{
    user-select:none;
    margin: 0;
    font-family: Estonia,sans-serif;
    background-image:url("./assets/img/Bloodburne.jpeg");
    background-size: cover;
}
h1{
    text-align:center;
}
h3{
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
    top: 1.5em;
    z-index: 2;
}
.main{
    display:flex;
    height:70vh;
    flex-wrap: wrap;
    border-top:2px solid grey;
}
.icon{
    width:2em;
    border-radius:.5em;
}
nav{
    background: rgb(98 116 180 / 90%);
}
nav a{
font-size:2em;
font-family: Estonia,sans-serif;
color:black;
text-decoration:none;
}
nav ul{
display:flex;
justify-content:space-around;
margin: 0;
}
nav li{
list-style:none;
}
/*Progress Bar*/
progress{
margin: 0.5em 0;
width: 80%;
height: 1.2em;
padding:.1em;
background-color: #4a4a4a;
z-index:1;
display: inline-block;
border-radius: 2em;
}
::-webkit-progress-value{
background-color: goldenrod;
transition:1s all;
border-radius: 2em;
}
::-webkit-progress-bar {
    border: 0;
    border-radius: 20px;
}
#life::-webkit-progress-value{
background-color: crimson;
}
#stam::-webkit-progress-value{
background-color: yellowGreen;
}
figure .article{
    text-align: center;
}
figure > img{
    border-radius: 2em;
}
figcaption{
font-size:2em;
}
.choices p{
width:50%;
color:white;
margin: .5em auto;
text-align:center;
background:#503a217a;
border-radius:2em;
font-size:2em;
cursor:pointer;
padding: 0.5em;
border:2px solid black;
transition:.5s border,.5s color;
}
.choices p:hover{
    animation:1s blink infinite;
}
.container{
    width: 100%;
    margin:1em;
    border-radius:2em;
    background-color:#0000007a;
}
.game p{
font-size:2em;
letter-spacing:.1em;
padding:1em;
color:white;
}

.monsterFrame,.shop,.chooseWeapon{
position: fixed;
padding-top:.5em;
top: 0;
margin: 0;
left: 0;
bottom: 0;
z-index: 5;
width: 100%;
background: #00000087;
}
.monsterFrame img,.shop img,.chooseWeapon img{
    border: 2px solid grey;
    width: 35%;
    margin: auto;
}
.monsterFrame figcaption{
color:white;
}
.monsterFrame button{
margin:0 4em;
padding:1em;
border-radius:2em;
background:#00000087;
color:white;
}
.articles{
    background: grey;
    width: 45%;
    border-radius: 2em 0 0 2em;
    top: 1.5em;
    right: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    overflow: auto;
}
.articles .article{
    width: 30%;
    margin: 0.3em;
    text-align: center;
}
.articles button{
padding:1em;
border-radius:2em;
background:#00000087;
color:white;
margin: auto;
width: 50%;
}
.article img{
width:70%;
border-radius: 2em;
}
.exit{
width: 100%;
}
.chooseWeapon{
color:white;
text-align: center;
display: flex;
flex-wrap: wrap;
z-index:7;
}
.chooseWeapon .weapon{
width:35%;
margin:0 auto;
}
.weapon figcaption{
color:white;
}
.chooseWeapon h3{
font-size:3em;
}
/******INVENTAIRE********/
.weaponImg{
width:10em;
border-radius:2em;
border:2px solid lightgrey;
transition:border 1s;
cursor:pointer;
}
.weaponImg:hover{
border:2px solid royalblue;
}
.active{
border:2px solid royalblue;
}

.empty{
display:none;
}
/*BACKGROUNDS*/
.firstBack{
background:url(./assets/img/Egouts.jpeg);
background-size: cover;
}
.secondBack{
background:url(./assets/img/Faubourg.jpeg);
}
.thirdBack{
background:url(./assets/img/Place.jpg);
background-position: center;
}
/*ANGULAR*/
section{
    display: flex;
    flex-wrap: wrap;
}
app-stats{
    width:25%;
}
app-options{
    width:20%;
}
app-main{ 
    width:55%;
}
app-weapons{
    width:100%;
}
app-shop{
    margin: 0;
}
/*FORMULAIRES*/
form{
    z-index:10;
    position:absolute;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding:10vh 0;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: #503a217a;
}
form input,form button,form label,form p,form span{
    font-family: Estonia,sans-serif;
    font-size:2em;
    width:30%;
    margin:1em auto;
    outline:none;
    border-radius: 10px;
}
form label,form span{
    color:white;
}
form p{
    color:crimson;
}
form span{
    cursor: pointer;
}
form span:hover{
    animation:1s blink infinite;
}
@keyframes blink{
    50%{
        color:coral;
    }
}
.red{
    border:2px solid crimson;
}